* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ccircle cx='10' cy='10' r='2' fill='%23eeeeee'/%3E%3C/svg%3E");
}

.toolbar-card {
  --h: 80px;
  --br: 24px;
  height: var(--h);
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  border-radius: var(--br);
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.toolbar-clip {
  padding: 10000px 10000px 0;
  margin: -10000px -10000px 0;
  overflow: hidden;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.toolbar {
  padding: 0 32px;
  height: var(--h);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
}

.selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 8px;
}

.selector-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
  color: #999;
  gap: 4px;
}

.selector-item-svg {
  color: #cff8e8;
  height: 20px;
  cursor: pointer;
}

.selector-item-svg > svg {
  height: 100%;
  width: auto;
}

.selector-item-svg.active {
  color: #15d088;
}

.shapes {
  width: 80px;
  height: 80px;
  color: #9747FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.shapes .shape {
  --x: 0px;
  --y: 0px;
  --offset-x: 0px;
  --offset-y: 0px;
  --scale: 1;
  --rotate: 0deg;
  -webkit-transform: translateX(calc(var(--offset-x) + var(--x))) translateY(calc(var(--y) + var(--offset-y))) scale(var(--scale)) rotate(var(--rotate));
          transform: translateX(calc(var(--offset-x) + var(--x))) translateY(calc(var(--y) + var(--offset-y))) scale(var(--scale)) rotate(var(--rotate));
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: all 0.5s cubic-bezier(0, -0.01, 0.01, 1.01);
  transition: all 0.5s cubic-bezier(0, -0.01, 0.01, 1.01);
}

.shapes .shape svg {
  height: 100%;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
}

.shapes .shape.dragging {
  -webkit-transition: none;
  transition: none;
}
/*# sourceMappingURL=style.css.map */